* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

:root {
    --primay-color: #cebea5;
    --more-color: #ff0000;
}

#banner {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/anime-girl-pink-hair-closed-eyes-gloves-cute-WallpaperMaiden_.png);
    height: 200px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: auto;
    position: relative;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-repeat: no-repeat;
}

/* logo */
#navigasi .navbar-brand>span {
    color: var(--primay-color);
}

#navigasi .navbar-brand {
    font-weight: 700;
}

/* Navigation Link */
#navigasi .nav-item>a.nav-list {
    color: white;
}

#navigasi .home-list-genre a {
    color: white;
    display: block;
    padding: 10px;
}

#navigasi .home-list-genre a:hover {
    color: var(--primay-color);
}

/* Pencarian */
#navigasi button.tombol-search {
    background-color: transparent;
    border: 1px solid var(--primay-color);
    border-radius: 20px;
    padding: 6px 10px 6px 10px;
    color: #fff;
}

#navigasi button.tombol-search:hover {
    border: 2px solid var(--primay-color);
    color: var(--primay-color);
}

#navigasi button.tombol-search:active {
    border: 1px inset var(--primay-color);
}

/* hamburger menu */
#navigasi .navbar-toggler {
    border-style: none;
    border: 1px solid var(--primay-color);
    padding: 10px;
    background-color: transparent;
}

#navigasi .navbar-toggler:hover {
    border: 2px solid var(--primay-color);
}

#navigasi .navbar-toggler:active {
    border: 1px inset var(--primay-color);
}

/* input search */
#navigasi input.form-control::placeholder {
    color: #808080;
}

a {
    text-decoration: none;
}


/* main content */

#ongoing-anime1,
#completed-anime1,
#movie-anime1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00ff99;
    margin: 0px 11px;
}

#ongoing-anime1 h1,
#completed-anime1 h1,
#movie-anime1 h1,
#ongoing-anime1 a h5,
#completed-anime1 a h5,
#movie-anime1 a h5 {
    margin: 0px 0px 4px 0px;
    line-height: normal;
}

.button-more a h5 {
    color: blue;
    border-bottom: 1px solid #ff000000;

}

.button-more a h5:hover {
    color: var(--more-color);
    border-bottom: 1px solid var(--more-color);
    transition-duration: 0.3s;
}

section.footer .company h6,
section.footer .company p {
    overflow: hidden;
    font-weight: 400;
    margin-bottom: 10px;

}

section.footer p,
section.footer h6 {
    text-align: justify;
    font-size: 13px;
}

section.footer {
    border-bottom: 2px solid white;
}

section.footer h6.footer-text span {
    color: var(--primay-color);
}

@keyframes fadeInUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.anime-ku {}

.anime-ku .card-img-top {

    text-align: center;

}